<div class="container">
  <ul class="nav navbar-nav navbar-dark">
      <!-- <li *ngIf="(authState | async).appUser?.userType == 'Member'" routerLinkActive="active"><a [routerLink]="['/member/home']" >メンバーページ</a></li>
      <li *ngIf="(authState | async).appUser?.userType == 'Business'" routerLinkActive="active"><a [routerLink]="['/business/home']" >マイページ</a></li> -->
      <li routerLinkActive="active"><a [routerLink]="['overview']" >概要</a></li>
      <li routerLinkActive="active"><a [routerLink]="['member']" >メンバー</a></li>
      <li routerLinkActive="active"><a [routerLink]="['topic']" >トピック</a></li>
      <li routerLinkActive="active"><a [routerLink]="['event']" >イベント</a></li>
      <li routerLinkActive="active" *ngIf="circle && circle.isManageable"><a [routerLink]="['request']" >参加リクエスト</a></li>
    </ul>
</div>
<router-outlet></router-outlet>