<app-loading *ngIf="loading"></app-loading>
<div class="container" *ngIf="!loading">
  <form #circleEventEditForm="ngForm" id="circleEventEditForm" (ngSubmit)="submit(circleEventEditForm)">
    <div class="form-group" *ngIf="id">
      <h4>メイン画像選択</h4>
      <app-mainphoto-selector *ngIf="circleEvent.photos?.length > 0" [photos]="circleEvent.photos" [mainPhotoId]="circleEvent.mainPhotoId"
        (photoSelected)="mainPhotoSelected($event, circleEventEditForm)">
      </app-mainphoto-selector>
      <a class="btn btn-primary" [routerLink]="['/photo/edit', 'CircleEvent', circleEvent.id]">写真の追加・削除</a>
    </div>
    <div *ngIf="!id">
      <h4>画像アップロード</h4>
      <app-photo-selector (photoSelected)="setSelectedFiles($event)" [multipleSelect]="true"></app-photo-selector>
      <div class="row" *ngIf="selectedFiles">
        <div class="col-xs-2 col-md-3" *ngFor="let tempImageUrl of previewUrls">
          <img class="img-responsive" [src]="tempImageUrl" />
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':name.errors && name.touched}">
      <label for="name" class="control-label required">イベント名</label>
      <input class="form-control" name="name" type="text" [(ngModel)]="circleEvent.title" maxlength="100" required
        #name="ngModel">
      <span class="help-block" *ngIf="name?.errors?.required && name.touched">
        イベント名は必須項目です
      </span>
    </div>
    <div class="form-group">
        <label for="eventDate" class="control-label required">開催日</label>
        <input class="form-control" name="eventDate" type="text" bsDatepicker [bsConfig]="bsConfig" placeholder="生年月日" [(ngModel)]="fromDate">
    </div>
    <div class="form-group">
        <label for="fromTime" class="control-label required">開始時刻</label>
        <input type="time" id="fromTime" name="fromTime" required (change)="strToTime = ''" [(ngModel)]="strFromTime" #fromTime="ngModel"/>
        <span class="help-block" *ngIf="fromTime?.errors?.required && fromTime.touched">
            開始時刻を入力してください
        </span>
    </div>
    <div class="form-group" >
        <label for="toTime" class="control-label">終了時刻</label>
        <input type="time" id="toTime" name="toTime" min="{{fromTime}}" [(ngModel)]="strToTime"/>
        <span class="help-block text-danger" *ngIf="!validateTime()">
            終了時刻が開始時刻より先になっています
        </span>
    </div>
    <div class="form-group">
        <h5>公開範囲</h5>
        <input type="radio" id="public-no" [value]="false" name="public" [(ngModel)]="circleEvent.isPublic">
        <label for="public-no" class="radio">コミュニティメンバーのみ</label>
        <input type="radio" id="public-yes" [value]="true" name="public" [(ngModel)]="circleEvent.isPublic">
        <label for="public-yes" class="radio">一般公開</label>
    </div>
    <div class="form-group">
      <h5>参加条件</h5>
      <input type="radio" id="approval-no" [value]="false" name="approval" [(ngModel)]="circleEvent.approvalRequired">
      <label for="approval-no" class="radio">誰でも</label>
      <input type="radio" id="approval-yes" [value]="true" name="approval" [(ngModel)]="circleEvent.approvalRequired">
      <label for="approval-yes" class="radio">管理人の承認が必要</label>
    </div>
    <div class="form-group" *ngIf="!circleEvent.approvalRequired">
      <h5>人数制限</h5>
      <input type="radio" id="limit-yes" [value]="true" name="limit" [(ngModel)]="hasLimit">
      <label for="limit-yes" class="radio">有</label>
      <input type="radio" id="limit-no" [value]="false" name="limit" [(ngModel)]="hasLimit">
      <label for="limit-no" class="radio">無</label>
      <input type="number" id="maxNumber" name="maxNumber" (change)="onMaxNumberChanged()" [disabled]="!hasLimit" min="0" max="1000" [(ngModel)]="circleEvent.maxNumber">
    </div>
    <div class="form-group" [ngClass]="{'has-error': description.errors && description.touched}">
      <label for="description" class="control-label required">概要</label>
      <textarea class="form-control" name="description" [(ngModel)]="circleEvent.description" #description="ngModel"
        maxlength="5000" rows="10" required></textarea>
      <span class="help-block" *ngIf="description?.errors?.required && description.touched">
        概要は必須項目です
      </span>
    </div>
    <div class="form-group"  [ngClass]="{'has-error': city.errors && city.touched}">
      <label for="city" class="control-label" required>エリア</label>
      <br>
      <select [(ngModel)]="circleEvent.cityId" class="form-control" name="city" #city="ngModel" required>
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
      </select>
      <span class="help-block" *ngIf="city?.errors?.required && city.touched">
          エリアを選択してください
      </span>
    </div>

    <button class="btn btn-success" [disabled]="!circleEventEditForm.valid || circleEventEditForm.pristine" type="submit">
      {{ id ? "更新" : "作成" }}
    </button>
    <button class="btn btn-warning" type="button" (click)="onCancel()">キャンセル</button>
  </form>
</div>