<div class="container">
  <div *ngIf="id">
    <div *ngIf="!property.isActive">
      <h5 class="text-danger">※現在募集停止中です</h5>
      <button type="button" class="btn btn-success" (click)="onActivate(propertyEditForm)">募集を再開する</button>
    </div>
    <div *ngIf="property.isActive">
      <button type="button" class="btn btn-danger" (click)="onDeactivate(propertyEditForm)">募集を停止する</button>
    </div>
  </div>
  <form #propertyEditForm="ngForm" id="propertyEditForm" (ngSubmit)="submit(propertyEditForm)" [ngClass]="{inactive: !property.isActive}">
    <div class="form-group" *ngIf="id">
      <h4>メイン画像選択</h4>
      <app-mainphoto-selector *ngIf="property.photos?.length > 0" [photos]="property.photos" [mainPhotoId]="property.mainPhotoId"
        (photoSelected)="mainPhotoSelected($event, propertyEditForm)">
      </app-mainphoto-selector>
      <a class="btn btn-primary" [routerLink]="['/photo/edit', 'Property', property.id]">写真の追加・削除</a>
    </div>
    <div *ngIf="!id">
      <h4>画像アップロード</h4>
      <app-photo-selector (photoSelected)="setSelectedFiles($event)" [multipleSelect]="true"></app-photo-selector>
      <div class="row" *ngIf="selectedFiles">
        <div class="col-xs-2 col-md-3" *ngFor="let tempImageUrl of previewUrls">
          <img class="img-responsive" [src]="tempImageUrl" />
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':title.errors && title.touched}">
      <label for="title" class="control-label required">タイトル</label>
      <input class="form-control" name="title" type="text" [(ngModel)]="property.title" maxlength="100" required #title="ngModel">
      <span class="help-block" *ngIf="title?.errors?.required && title.touched">
        タイトルは必須項目です
      </span>
    </div>
    <div class="form-group" [ngClass]="{'has-error':rent.errors && rent.touched}">
      <label for="rent" class="control-label required">レント（週）</label>
      <input class="form-control" name="rent" type="number" min="1" max="1000" [(ngModel)]="property.rent" required #rent="ngModel">
      <span class="help-block" *ngIf="rent?.errors?.required && title.touched">
        レントは必須項目です
      </span>
    </div>
    <div class="form-group">
      <label for="dateAvailable" class="control-label">入居可能日</label>
      <p class="text-danger text-small">※設定しない場合は『いつからでもOK』になります</p>
      <input class="form-control" name="dateAvailable" type="text" bsDatepicker [bsConfig]="bsConfig" placeholder="入居可能日" [(ngModel)]="property.dateAvailable">
    </div>
    <div class="form-group">
        <h5>貸し方</h5>
        <input type="radio" id="rentType-own" [value]="rentTypeEnum.OWN" name="rentType" [(ngModel)]="property.rentType">
        <label for="rentType-own" class="radio">オウンルーム</label>
        <input type="radio" id="rentType-share" [value]="rentTypeEnum.SHARE" name="rentType" [(ngModel)]="property.rentType">
        <label for="rentType-share" class="radio">ルームシェア</label>
        <input type="radio" id="rentType-whole" [value]="rentTypeEnum.WHOLE" name="rentType" [(ngModel)]="property.rentType">
        <label for="rentType-whole" class="radio">家丸ごと</label>
        <input type="radio" id="rentType-homestay" [value]="rentTypeEnum.HOMESTAY" name="rentType" [(ngModel)]="property.rentType">
        <label for="rentType-homestay" class="radio">ホームステイ</label>
      </div>
    <div class="form-group">
      <label>滞在可能期間</label>
      <select name="minTerm" id="minTerm" [(ngModel)]="property.minTerm" (change)="minTermChanged()">
        <option value="{{term}}" *ngFor="let term of minTermArray">{{term | propertyTerms}}</option>
      </select>
      <span> ~ </span>
      <select name="maxTerm" id="maxTerm" [(ngModel)]="property.maxTerm" (change)="maxTermChanged()">
        <option value="{{term}}" *ngFor="let term of maxTermArray">{{term | propertyTerms}}</option>
      </select>
    </div>
    <div class="form-group">
      <h5>希望性別</h5>
      <input type="radio" id="gender-no" [value]="0" name="gender" [(ngModel)]="property.gender">
      <label for="gender-no" class="radio">どちらでも</label>
      <input type="radio" id="gender-female" [value]="2" name="gender" [(ngModel)]="property.gender">
      <label for="gender-female" class="radio">女性のみ</label>
      <input type="radio" id="gender-male" [value]="1" name="gender" [(ngModel)]="property.gender">
      <label for="gender-male" class="radio">男性のみ</label>
    </div>
    <div class="form-group" [ngClass]="{'has-error': description.errors && description.touched}">
      <label for="description" class="control-label required">概要</label>
      <textarea class="form-control" name="description" [(ngModel)]="property.description" #description="ngModel" maxlength="5000"
        rows="10" required></textarea>
      <span class="help-block" *ngIf="description?.errors?.required && description.touched">
        概要は必須項目です
      </span>
    </div>

    <div class="form-group" [ngClass]="{'has-error':city.errors && city.touched}">
      <label for="city" class="control-label required">エリア</label>
      <br>
      <select [(ngModel)]="property.cityId" class="form-control" name="city" #city="ngModel" (change)="areaChanged()" required>
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
      </select>
      <span class="help-block" *ngIf="city?.errors?.required && city.touched">
        エリアを選んでください
      </span>
    </div>
    <div class="form-group">
      <input type="checkbox" name="useGmap" id="useGmap" [(ngModel)]="useGmap" [value]="useGmap" (change)="toggleUseGmap(propertyEditForm)">
      <label for="useGmap" class="checkbox">マップを登録する</label>
      <div *ngIf="useGmap">
        <div class="gmapSelector">
          <app-gmap-selector [lat]="property.latitude" [lng]="property.longitude" [useCircle]="false" (areaSelectedEvent)="mapSelected(propertyEditForm, $event)"></app-gmap-selector>
        </div>
      </div>
    </div>
    <div class="form-group">
      <h5>ペット</h5>
      <input type="radio" id="pet-no" [value]="false" name="pet" [(ngModel)]="property.hasPet">
      <label for="pet-no" class="radio">居ない</label>
      <input type="radio" id="pet-yes" [value]="true" name="pet" [(ngModel)]="property.hasPet">
      <label for="pet-yes" class="radio">居る</label>
    </div>
    <div class="form-group">
      <h5>小さい子供</h5>
      <input type="radio" id="child-no" [value]="false" name="child" [(ngModel)]="property.hasChild">
      <label for="child-no" class="radio">居ない</label>
      <input type="radio" id="child-yes" [value]="true" name="child" [(ngModel)]="property.hasChild">
      <label for="child-yes" class="radio">居る</label>
    </div>
    <div class="form-group">
      <h5>インターネット</h5>
      <input type="radio" id="internet-no" [value]="0" name="internet" [(ngModel)]="property.internet">
      <label for="internet-no" class="radio">無し</label>
      <input type="radio" id="internet-limited" [value]="1" name="internet" [(ngModel)]="property.internet">
      <label for="internet-limited" class="radio">有り（制限有）</label>
      <input type="radio" id="internet-unlimited" [value]="2" name="internet" [(ngModel)]="property.internet">
      <label for="internet-unlimited" class="radio">有り（無制限）</label>
    </div>
    <div class="form-group">
      <h5>その他設備等</h5>
      <button class="categoryTab" type="button" *ngFor="let category of categories" [ngClass]="{'active':isSelected(category.id)}"
        (click)="toggleCategory(propertyEditForm, category.id)">{{category.name}}</button>
      <br/>
      <button class="btn btn-danger btn-sm" type="button" (click)="clearCategory(propertyEditForm)">クリア</button>
    </div>
    <!-- <button type="button" (click)="test()">Test</button> -->
    <button class="btn btn-success" [disabled]="!propertyEditForm.valid || propertyEditForm.pristine" type="submit">{{ id
      ? "更新" : "作成" }}</button>
    <button class="btn btn-warning" type="button" (click)="onCancel()">キャンセル</button>
  </form>
</div>