.gmapSelector{
    height:300px;
}

.categoryTab {
    margin:2px;
    color: gray;
    background-color: white;
    border: solid 2px gray;
}

.categoryTab.active {
    color: white;
    background-color: rgb(19, 135, 243);
    border: solid 2px blue;
}