.circleCard{
    border-radius: 10px;
    margin:2px;
    border: 1px solid rgb(204, 224, 204);
    background-color:white;
    /* margin:2px; */
}

.circleImage {
    width: 100px;
    height:100px;
    margin:5px;
    object-fit: cover;
}
