<div class="container">
  <form *ngIf="!sent" class = "form-signin" #loginForm="ngForm" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">パスワードのリセット</h1>
    <label for="email">ユーザーID</label>
    <input type="email" id="email" class="form-control" class="form-control" required name="userId" [(ngModel)]="userId">
    <label for="email">メールアドレス</label>
    <input type="email" id="email" class="form-control" class="form-control" required name="email" [(ngModel)]="email">
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid">パスワード初期化コードを送信</button>
  </form>
  <p *ngIf="sent">メールを送信しました</p>
</div>
