<div *ngIf="clanSeek">
  <p>投稿日:{{clanSeek.dateCreated | date: 'mediumDate'}}</p>
  <p>最終更新日：{{clanSeek.dateUpdated | date: 'mediumDate'}}</p>
  <h4>投稿者</h4>
  <img *ngIf="clanSeek.appUserIconUrl" src="{{clanSeek.appUserIconUrl}}"/>
  <a [routerLink]="['/users/detail/' + clanSeek.appUserId]" style="cursor: pointer">{{clanSeek.displayName}}</a>
  <div *ngIf="appUser && clanSeek.appUserId != appUser.id">
      <button class="btn btn-success btn-sm" (click)="onSend()" [disabled]="!appUser">ショートメッセージを送る</button>
  </div>
  <p class="text-danger" *ngIf="!appUser">※ショートメッセージを送るにはログインしてください</p>
  <!-- <hr>
  <h4>広告</h4> -->
</div>