<div class="container">
  <h2>お知らせ</h2>
  <div class="row">
    <div class="col-sm-8">
      <app-loading *ngIf="!notifications"></app-loading>
      <div *ngIf="notifications">
        <div class="notification" *ngFor="let notification of notifications index as i" (click)="onClick(notification)">
          <div [ngClass]="{'bg-light-blue' : (i % 2), 'bg-light-orange' : !(i % 2)}">
            <img src="{{notification.photo.url | iconurl}}" class="pull-left" *ngIf="notification.photo">
            <p>{{getNotificationMessage(notification)}}</p>
            <span class="clearfix"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h4>広告</h4>
    </div>
  </div>
</div>