<div class="row">
  <div class="col-sm-6 attractionCardContainer" *ngFor="let attraction of attractionList index as i" >
    <div class="attractionCard" [@attractionCard] [routerLink]="['/attraction/detail', attraction.id]" [ngClass]="{'bg-light-blue' : (i % 2), 'bg-light-yellow' : !(i % 2)}">
      <!-- <div class="attraction"> -->
      <img src="{{attraction.mainPhoto | photourl}}" class="attractionImage pull-left img-thumbnail">
      <div class="info">
        <h5>{{attraction.name}}</h5>
        <span class="simpleTag">{{attraction.cityName}}</span>
        <div>
          <p>作成: {{attraction.dateCreated | date: 'mediumDate'}}</p>
          <p>更新: {{attraction.dateUpdated | date: 'mediumDate'}}</p>
        </div>
      </div>
      <span class="clearfix"></span>
    </div>
  </div>
</div>