<div class="container">
  <h2>本日のトピック - {{todaysTopic}} </h2>
  <button *ngIf="!appUser" class="btn btn-primary" [routerLink]="['/account/login']" >ログイン</button>
  <div *ngIf="!loading && appUser && todaysTopic" >
    <a class="btn btn-primary btn-sm"[routerLink]="['/dailytopic/ranking/', appUser.id]">明日のトピックは？</a>
    <hr>
  </div>
  <app-loading *ngIf="loading"></app-loading>
  <form *ngIf="!(dailyTopicState | async).todaysComment" #topicCommentForm="ngForm" id="topicCommentForm" (ngSubmit)="submit(topicCommentForm)">
    <div class="form-group" *ngIf="appUser && !alreadyTweeted">
      <label for="title" class="control-label">一言を追加する（1日1回のみ, 最大100文字）</label>
      <input class="form-control" name="comment" type="text" ngModel required maxlength="100" #comment>
      <br>
      <button [disabled]="!topicCommentForm.valid" class="btn btn-sm btn-success" [disabled]="comment.length == 0" type="submit">一言追加</button>
    </div>
  </form>
  <div *ngFor="let topicComment of (dailyTopicState | async).topicComments">
    <app-topic-comment *ngIf="(dailyTopicState | async).commentFeelings" [isMine]="appUser && appUser.id == topicComment.appUserId" [topicComment]="topicComment" [appUserId]="appUser? appUser.id : null" [forcused]="topicComment.id == forcusedRecordId"
      [commentFeelEnum]="commentFeelingEnum"></app-topic-comment>
    <!-- <app-topic-reply *ngIf="topicComment.displayReplies" [topicCommentId]="topicComment.id" [currentMemberId]="appUser? appUser.userProfileId : null"  [topicReplies]="topicComment.topicReplies" ></app-topic-reply> -->
    <app-short-comment-form 
            *ngIf="topicComment.displayReplies && appUser" 
            [shortComments]="topicComment.topicReplies" 
            [currentAppUserId]="appUser.id"
            (addShortComment)="onAddTopicCommentReply(topicComment.id ,$event)" 
            (deleteShortComment)="onDeleteTopicCommentReply($event)" ></app-short-comment-form>
  </div>
</div>