.wrap {
    height:250px;
    overflow: hidden;
}

.mask {
    height: 280px;
    width: 100%;
    overflow-x: auto;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
  }
  .list {
    display: inline-table;
    padding: 0;
  }
 .list li {
    display: table-cell;
    padding: 10px;
    /* width: 250px; */
  }

/* .latestAttractionCard img{
    width:150px;
    padding:5px;
    height:150px;
    object-fit: cover;
} */

.latestAttractionImage_mb{
    width:150px;
    padding:5px;
    height:150px;
    object-fit: cover;
}

.latestAttractionImage{
    width:200px;
    padding:5px;
    height:200px;
    object-fit: cover;
}

.latestAttractionCard:hover  {
    cursor: pointer;
    transform : scale(1.05, 1.05);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

.latestClanTitle{
    font-weight: bold;
    color:rgb(2, 68, 22);
    font-size: 3.5vmin;
}

/* .latestClanLocation {
    border-radius: 10px;
    background-color: rgb(158, 242, 253);
} */