<div class="container">
    <h3>トピック一覧</h3>
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading" class="area">
    <button *ngIf="circle?.isMember" class="btn btn-primary" type="button" [routerLink]="['edit']">新しいトピックを作成する</button>
    <p *ngIf="!loading && topics.length == 0" class="text-danger"><b>まだトピックがありません</b></p>
    <div class="topicCard" *ngFor="let topic of topics" [routerLink]="['detail', topic.id]">
      <img *ngIf="topic.photoId" class="img-thumbnail pull-left" src="{{topic.photo | thumburl}}" >
      <div>
        <h5><a>{{topic.title}}</a></h5>
        <p>作成日:{{topic.dateCreated | date: 'mediumDate'}}</p>
      </div>
      <span class="clearfix"></span>
    </div>
    <div *ngIf="pagination && pagination.totalPages > 1" class="text-center">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [ngModel]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage"
        (pageChanged)="pageChanged($event)" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>