/* img.thumbnail {
    height: 100px;
    width:100px;
    margin-bottom: 2px;
} */

.nv-file-over { border: dotted 3px red; }
input[type=file] {
    color: transparent;
}

.list {
    border-radius: 10px;
    background-color: rgb(216, 238, 252);
    position: relative;
    text-align: center;
    margin:5px;
    padding:10px;
}

.list a{
    margin:5px;
}