<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <h4>写真の追加 (1MB 以下)</h4>
            <img *ngIf="selectedFile" class="img-responsive" [src]="previewUrl" />
            <input type="file" accept="image/*" style="display: none" (change)="onFileChanged($event)" #fileInput>
            <button class="btn btn-block btn-primary" (click)="fileInput.click()">画像選択</button>
            <button class="btn btn-block btn-primary" (click)="onUpload()" [disabled]="!selectedFile">アップロード</button>
        </div>
        <div class="col-sm-8 col-md-9">
            <h4>写真一覧</h4>
            <div class="row list">
                <div class="col-xs-4" *ngFor="let photo of (photoState | async).photos">
                    <img src="{{photo.url}}" alt="" class="img-responsive">
                    <a class="btn btn-xs btn-danger" (click)="deletePhoto(photo.id)">削除</a>
                </div>
            </div>
        </div>
    </div>
</div>