.articleImage{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.articleInfo{
    position:absolute;
    left:80px;
    margin:auto;
}

.blogImage{
    width: 30px;
    height: 30px;
}

.card {
    position:relative;
    margin: 2px 0 2px 0;
    height: 110px;
    overflow: hidden;
    border: 2px solid lightblue;
    background-color: #d9f0f7;
}

.blogImage {
    float:left;
}

.writerName {
    float:left;
}

