.articleImage{
    position:absolute;
    width: 100%;
    filter: brightness(40%);
    object-fit: cover;
    /* z-index:0; */
    /* height: 60px; */
    /* margin: 5px; */
}

.articleTitle {
    color: rgb(245, 245, 157);
    position:absolute;
    left: 5px;
    z-index:5;
}

.articleInfo{
    position:absolute;
    left:5px;
    top: 80px;
    width: 100%;
    color: white;
    overflow: hidden;
}

/* .writerName{
    position: absolute;
    left: 40px;
    bottom: 8px;
} */

.blogImage{
    float:left;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 2px solid white;
    margin: 0 4px 0 0;
}

.card {
    position:relative;
    margin: 2px 0 2px 0;
    height: 130px;
    overflow: hidden;
    border: 2px solid lightblue;
    background-color: black;
}

.blogTitle {
    /* float:left; */
    margin:3px;
}

