<div class="row fix">
  <div class="col-sm-6 eventCardContainer" *ngFor="let circleEvent of eventList index as i" >
    <div class="eventCard hoverZoom" [routerLink]="['/circle/detail', circleEvent.circleId, 'event', 'detail', circleEvent.id]" [@eventCard]>
      <!-- <div class="clanCard"> -->
      <h5 class="title">{{circleEvent.title}}</h5>
      <img src="{{circleEvent.mainPhoto | iconurl}}" class="pull-left eventImage img-thumbnail">
      <div class="info">
        <div>
          <p><b>開催日：{{circleEvent.fromDate | date: 'mediumDate'}}</b></p>
          <p *ngIf="displayCircleName" class="text-warning">サークル：{{circleEvent.circle.name}}</p>
        </div>
      </div>
      <span class="clearfix"></span>

      <!-- </div> -->

      <!-- <app-clan-card [circleEvent]="circleEvent" [isMine]="appUserId == circleEvent.appUserId" [routerLink]="['detail', circleEvent.id]" ></app-clan-card> -->
    </div>
    <!-- <div class="col-sm-6 col-md-4">
    <h4>広告</h4>
    <p>スペース</p>
  </div> -->
  </div>
</div>