.requestCard {
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px;
}

.denied {
    background-color:gray;
}

.requestCard img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 5px;
}


