<div class="commentContainer">
  <div class="commentImage">
    <img class="img-circle"
     [routerLink]="['/users/detail/', topicComment.appUserId]" 
     src="{{topicComment.mainPhotoUrl ? topicComment.mainPhotoUrl : 'assets/NoImage.png'}}" 
     alt="{{topicComment.displayName}}" 
     title="{{topicComment.displayName}}" 
     style="cursor: pointer">
  </div>
  <div class="comment">
    <div class="commentBaloon">
      <p><b>{{topicComment.displayName}}</b>: {{topicComment.comment}}</p>
    </div>
  </div>
  <div class="commentTools">
    <button class="btn btn-primary btn-xs" (click)="sendLike(topicComment.id)" [disabled]="topicComment.reactionByUser || !memberId">
      <i class="fa fa-thumbs-up" title="良いね"></i>
      <span class="badge">{{topicComment.likedCount}}</span>
    </button><br/>
    <!-- <span class="likedCount">{{topicComment.likedCount}}</span> -->
    <button class="btn btn-primary btn-xs" (click)="toggleReplyForm(topicComment)" [disabled]="!memberId">
        <i class="fa fa-comment" title="返信数"></i>
        <span class="badge">{{topicComment.replyCount}}</span>
    </button>
    <!-- <span class="replyCount">{{topicComment.replyCount}}</span> -->
  </div>
</div>
<span class="clearfix"></span>
<a *ngIf="topicComment.memberId == memberId" class="btn btn-danger" (click)="onDelete(topicComment)">削除</a>