<div>
    <h4 [ngClass]="{'isMine':isMine}">
      <img class="userPhoto img-circle" src="{{attractionReview.appUserMainPhotoUrl ? attractionReview.appUserMainPhotoUrl : '/assets/NoImage_Person.png'}}">
      {{attractionReview.appUserName}} さんのレビュー
    </h4>
    <div class="gallery" *ngIf="attractionReview.photos && attractionReview.photos.length > 0">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div *ngIf="attractionReview.score > 0">
        <label>おすすめ度:</label>
        <span class="star fa fa-star" *ngFor="let starChecked of starCheckedList index as i" [ngClass]="{'checked': starChecked}"></span>
    </div>

    <strong>レビュー</strong>
    <div class="review" [innerHTML]="attractionReview.review | nl2br"></div>
    <div class="toolBar" *ngIf="isMine">
      <button class="btn btn-sm btn-success" [routerLink]="['/attraction/edit', attractionReview.attractionId, 'review', attractionReview.id]">編集</button>
      <button class="btn btn-sm btn-danger" (click)="onDelete(attractionReview.id)">削除</button>
    </div>
  </div>