<div class="clanCard" [ngClass]="{isMine: isMine}" [ngSwitch]="clanSeek.categoryName">
  <div class="panel panel-success" [ngClass]="{disabled: !clanSeek.isActive, 'panel-warning': isMine}">
    <div class="panel-heading">
        <span class="categoryName color-friend" *ngSwitchCase="'友達'">友達</span>
        <span class="categoryName color-circle" *ngSwitchCase="'サークル'">サークル</span>
        <span class="categoryName color-event" *ngSwitchCase="'イベント'">イベント</span>
        <span class="categoryName color-travel" *ngSwitchCase="'旅行'">旅行</span>
        <span class="categoryName color-study" *ngSwitchCase="'勉強・自己啓発'">勉強・自己啓発</span>
        <span *ngSwitchDefault class="categoryName color-etc">その他</span>
        <span class="h4">{{clanSeek.title}}</span>
    </div>
    <div class="panel-body">
      <p *ngIf="!clanSeek.isActive" class="text-danger"><b>募集停止中</b></p>
      <img *ngIf="clanSeek.mainPhoto" class="clanImage pull-left" src="{{clanSeek.mainPhoto.thumbnailUrl}}">
      <p>{{clanSeek.displayName}}</p>
      <p>{{clanSeek.locationName}}</p>
      <span class="clearfix"></span>
    </div>
    <div class="panel-footer">
      <span class="bg-primary">{{clanSeek.locationName}}</span>  <span class="small">更新：{{clanSeek.lastActive | timeago_jp}}</span>
    </div>
  </div>
</div>