.clanImage {
    width:80px;
    margin:5px;
}

.clanCard {
    /* height: 120px; */
    margin: 10px;
    /* overflow: auto; */
}

.disabled {
    filter: brightness(70%);
}

.clanCard:hover  {
    transform : scale(1.02, 1.02);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
}


.clanCard .color-friend {
    color: white;
    background-color: rgb(63, 133, 236);
}

.clanCard .color-circle {
    color: white;
    background-color: rgb(8, 161, 21);
}

.clanCard .color-travel {
    color: white;
    background-color: rgb(253, 96, 5);
}

.clanCard .color-study {
    color: black;
    background-color: rgb(202, 253, 17);
}

.clanCard .color-event {
    color: white;
    background-color: rgb(70, 5, 145);
}

.clanCard .color-etc {
    color: black;
    background-color: rgb(242, 243, 237);
}


.clanCard span.categoryName {
    /* position: absolute; */
    padding: 2px;
    margin: 0 4px 0 0;
    /* left: 2px;
    top: 2px; */
    font-weight: bold;
    /* z-index: 10; */
    border-radius: 5px;
    border: solid 2px black;
}

.clanLocation {
    color: white;
    background-color: rgb(2, 56, 16);
    border-radius: 5px;
    padding:3px;
} 