<div class="container">
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">パスワード変更</h1>
    <div class="form-group" [ngClass]="{'has-error': changePasswordForm.get('currentPassword').errors && changePasswordForm.get('currentPassword').touched}">
      <label for="currentPassword" class="control-label required">現在のパスワード</label>
      <input type="password" class="form-control" formControlName="currentPassword">
      <span class="help-block" *ngIf="changePasswordForm.get('currentPassword').hasError('required') && changePasswordForm.get('currentPassword').touched">
        パスワードを入力してください
      </span>
    </div>

    <div class="form-group" [ngClass]="{'has-error': changePasswordForm.get('password').errors && changePasswordForm.get('password').touched}">
      <label for="password" class="control-label required">新しいパスワード</label>
      <input type="password" class="form-control" formControlName="password">
      <span class="help-block" *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">
        パスワードを入力してください
      </span>
      <span class="help-block" *ngIf="changePasswordForm.get('password').hasError('pattern') && changePasswordForm.get('password').touched">
        パスワードは{{passwordMinLength}}文字以上{{passwordMaxLength}}文字以下で、大文字・小文字・数字各最低１つを含めてください。
      </span>
      <span class="help-block" *ngIf="(changePasswordForm.get('password').hasError('minlength') || changePasswordForm.get('password').hasError('maxlength')) && changePasswordForm.get('password').touched">
        パスワードは{{passwordMinLength}}文字以上{{passwordMaxLength}}文字以下で入力してください
      </span>
    </div>

    <div class="form-group" [ngClass]="{'has-error': changePasswordForm.get('confirmPassword').errors  && changePasswordForm.get('confirmPassword').touched 
  || changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword').touched}">
      <label for="confirmPassword" class="control-label required">パスワード確認</label>
      <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
      <span class="help-block" *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">
        パスワードを入力してください
      </span>
      <span class="help-block" *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword').touched">
        パスワードが一致しません
      </span>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!changePasswordForm.valid">パスワード変更</button>
  </form>
</div>