<div class="container">
  <h3>イベント一覧</h3>
  <tabset>
    <tab heading="開催予定イベント" id="upcomming_event">
      <button class="btn btn-primary" type="button" *ngIf="isManageable" [routerLink]="['/circle/detail', circleId, 'event', 'edit']" >新規作成</button>
      <app-circle-event-calendar [circleId]="circleId"></app-circle-event-calendar>
    </tab>
    <tab heading="過去のイベント" id="past_event">
      <app-circle-event-list [eventList] = "pastEvents" [displayCircleName]="false"></app-circle-event-list>
    </tab>
  </tabset>
</div>