<div class="container">
  <form *ngIf="status==''" class="form-signin" #loginForm="ngForm" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">パスワードのリセット</h1>
    <div class="form-group">

      <label for="email">ユーザーID</label>
      <input type="email" id="email" class="form-control" class="form-control" required name="userId" [(ngModel)]="userId">
    </div>
    <div class="form-group">
      <label for="email">メールアドレス</label>
      <input type="email" id="email" class="form-control" class="form-control" required name="email" [(ngModel)]="email">
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid">パスワード初期化コードを送信</button>
    </div>
  </form>
  <h5 *ngIf="status=='sending'">しばらくお待ちください…</h5>
  <app-loading *ngIf="status=='sending'"></app-loading>
  <h5 *ngIf="status=='sent'">登録されたEメールに本人確認のメールを送信しました。</h5>
</div>