<div class="container">
  <div class="row">
    <h1>{{member.displayName}} のプロフィール</h1>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <app-user-card [imageUrl]="member.mainPhotoUrl" [created]="member.created" [displayName]="member.displayName" [lastActive]="member.lastActive"></app-user-card>
    </div>
    <div class="col-sm-6">
      <div>
        <h4>滞在地</h4>
        <p>{{member.city}}</p>
      </div>
      <div>
        <h4>出身</h4>
        <p>{{member.homeTown}}</p>
      </div>
      <div *ngIf="member.dateOfBirth">
        <h4>誕生日</h4>
        <p>{{member.dateOfBirth | date: 'mediumDate'}}</p>
      </div>
      <h4>自己紹介</h4>
      <p>{{member.introduction}}</p>
      <h4>趣味</h4>
      <p>{{member.interests}}</p>
    </div>
    <div class="col-sm-2">
      <h4>広告…</h4>
    </div>
  </div>
  <a class="btn btn-primary" (click) = "backClicked()">戻る</a>
</div>