.eventCardContainer{
    padding:4px;
}

.eventCard{
    border-radius: 10px;
    border: 1px solid rgb(230, 240, 230);
    background-color:white;
    /* margin:2px; */
}

.title{
    font-size: 18px;
    font-size: 1.8rem;
    margin:5px;
    color: rgb(3, 19, 163);
}

.eventImage {
    width: 80px;
    height:80px;
    margin:5px;
    object-fit: cover;
}
