<div class="container">
  <h2>現在のトピックランキング</h2>
  <p>*ランキング1位の物が明日のトピックになります</p>
  <div *ngIf="(dailyTopicState | async).topicList">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th class="col-topic">トピック</th>
          <th class="col-like">サポート数</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let topic of (dailyTopicState | async).topicList index as i">
          <td>{{i+1}}</td>
          <td>{{topic.title}}</td>
          <td>
            <button class="btn btn-primary btn-xs" (click)="sendLike(topic.id)" [disabled]="topic.isLiked" [ngClass]="{liked: topic.isLiked}">
              <i class="fa fa-thumbs-up" title="良いね!"></i>
              <span class="badge">{{topic.likedCount}}</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form (ngSubmit)="onCreate(newTopicForm)" id="newTopicForm" #newTopicForm="ngForm">
    <div class="form-group">
      <label class="h4" for="newTopic">新しいトピック候補を提案</label>
      <input type="text" class="form-control" id="newTopic" name="newTopic" ngModel required maxlength="100" #newTopic>
    </div>
    <button class="btn btn-success" [disabled]="!newTopicForm.valid || newTopicForm.pristine" type="submit">候補に追加</button>
  </form>
</div>