<div class="container">
    <form class = "form-signin" #loginForm="ngForm" (ngSubmit)="login()">
      <h1 class="h3 mb-3 font-weight-normal">ユーザーログイン</h1>
      <label for="userName">ユーザーネーム</label>
      <input type="text" id="userName" class="form-control" class="form-control" required name="userName" [(ngModel)]="userName">
      <label for="password">パスワード</label>
      <input id="password" type="password" class="form-control" required name="password" [(ngModel)]="password">
      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid">ログイン</button>
    </form>
    <hr>
    <ul class="list-inline">
      <li><a [routerLink]="['/account/password/forgot']">パスワードを忘れた場合</a></li>
      <li>|</li>
      <li><a [routerLink]="['/account/register']">アカウントを作成する</a></li>
    </ul>
    
</div>
