<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="ユーザー設定">
            <h4>ユーザー設定</h4>
            <div>
              <app-user-edit [cities]="cities" [appUser]="appUser"></app-user-edit>
            </div>
          </tab>
          <tab heading="プロフィール">
            <h4>プロフィール設定</h4>
            <div>
              <app-member-profile-edit *ngIf="member" [member]="member" [hometowns]="hometowns"></app-member-profile-edit>
              <app-business-profile-edit *ngIf="bisUser" [bisUser]="bisUser"></app-business-profile-edit>
            </div>
          </tab>
          <tab heading="アカウント情報">
            <app-account-edit [account]="account"></app-account-edit>
          </tab>
        </tabset>
      </div>
    </div>
    <div  class="col-sm-4">
      <h3>とりあえずスペース</h3>
    </div>
  </div>
</div>