<div class="clanDetailInfo" *ngIf="clanSeek">
  <h2>{{clanSeek.title}}</h2>
  <h3>エリア：{{clanSeek.locationName}}</h3>
  <div class="gallery">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
  <h4>本文</h4>
  <div *ngIf="clanSeek.websiteUrl">
    <h5><a href="{{clanSeek.websiteUrl}}">ホームページ</a></h5>
    <br>
    <br>
  </div>
  <div *ngIf="clanSeek.isActive" [innerHTML]="clanSeek.description | nl2br"></div>
  <p *ngIf="!clanSeek.isActive" class="text-danger">
    <strong>この募集は現在行っておりません</strong>
  </p>
</div>