<div class="clanDetailInfo" *ngIf="clanSeek">
  <h2>{{clanSeek.title}}</h2>
  <h4>エリア：{{clanSeek.locationName}}</h4>
  <div class="gallery">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
  <h4 class="bg-primary">本文</h4>
  <div *ngIf="clanSeek.websiteUrl">
    <a href="{{clanSeek.websiteUrl}}">ホームページ</a>
    <br>
    <br>
  </div>
  <div *ngIf="clanSeek.isActive" [innerHTML]="clanSeek.description | nl2br"></div>
  <p *ngIf="!clanSeek.isActive" class="text-danger">
    <strong>この募集は現在行っておりません</strong>
  </p>
</div>