<div class="clanDetailInfo" *ngIf="clanSeek">
  <div>
    <h2>{{clanSeek.title}}</h2>
    <img *ngIf="clanSeek.mainPhotoUrl" class="profile-image" src="{{clanSeek.mainPhotoUrl}}" alt="{{clanSeek.title}}">
    <h4>エリア：{{clanSeek.locationName}}</h4>
    <h5>投稿日:{{clanSeek.created | date: 'mediumDate'}}</h5>
    <h5>最終更新日：{{clanSeek.lastActive | date: 'mediumDate'}}</h5>
  </div>
  <h4 class="bg-primary">本文</h4>
  <div *ngIf="clanSeek.websiteUrl">
    <a href="{{clanSeek.websiteUrl}}">ホームページ</a>
    <br>
    <br>
  </div>
  <div *ngIf="clanSeek.isActive" [innerHTML]="clanSeek.description | nl2br"></div>
  <p *ngIf="!clanSeek.isActive" class="text-danger"><strong>この募集は現在行っておりません</strong></p>
  
</div>