<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <ul>
            <li *ngFor="let blog of (blogState | async).blogs" (click)="onSelect(blog)">
              {{blog.title}} - {{blog.writerName}}
              <button class="btn btn-danger" (click)="onClickDelete(blog.id)">削除</button>
            </li>
        </ul>
        <button class="btn btn-primary" (click)="onClickAdd()">ブログの追加</button>
    </div>
    <div class="col-sm-9">
      <app-blog-edit-form *ngIf="selectedBlog" [blog]="selectedBlog" [type]="type" [recordId]="recordId" ></app-blog-edit-form>
    </div>
  </div>
</div>