<div class="container">
  <div class="row">
    <form #userEditForm="ngForm" id="userEditForm" (ngSubmit)="submit(userEditForm)">
      <label>プロフィール写真選択</label>
      <div class="photoSelector" *ngIf="photos.length > 0">
          <app-mainphoto-selector [photos]="photos" [mainPhotoUrl]="appUser.mainPhotoUrl" (photoSelected)="mainPhotoSelected($event, userEditForm)"></app-mainphoto-selector>
        </div>
        <a class="btn btn-primary" [routerLink]="['/editphoto']">写真の追加・削除</a>
        <hr>
      <label for="displayName">表示名</label>
      <input class="form-control form-group " type="text" name="displayName" [(ngModel)]="appUser.displayName" />
      <div class="form-group">
        <label for="city" class="control-label">滞在先</label>
        <select [(ngModel)]="appUser.cityId" name="city">
          <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="blogs" class="control-label">ブログ</label>
        <app-blog-list [blogs]="blogs"></app-blog-list>
        <a [routerLink]="['/editblog',  appUser.id]">ブログの追加・削除</a>
      </div>
      <button class="btn btn-success" [disabled]="!userEditForm.valid || userEditForm.pristine" type="submit">更新</button>
    </form>
  </div>
</div>