<div class="container">
  <app-loading *ngIf="!circle"></app-loading>
  <div *ngIf="circle">
    <div class="row">
      <div class="col-sm-8">
          <h3>グループ紹介</h3>
        <div class="area">
          <app-circle-info [circle]="circle"></app-circle-info>
        </div>
        <div *ngIf="appUser && !circle.isMember">
          <hr>
          <h4>参加リクエスト</h4>
          <div *ngIf="appUser && circle.approvalRequired">
            <div *ngIf="!circle.isWaitingApproval">
              <input type="checkbox" name="attachShortMessage" id="attachShortMessage" [(ngModel)]="attachShortMessage" [value]="attachShortMessage">
              <label for="attachShortMessage" class="checkbox">ショートメッセージを添付する</label><br>
              <textarea class="form-control" *ngIf="attachShortMessage" rows="5" maxlength="1000" [(ngModel)]="shortMessage"></textarea>
              <button class="btn btn-primary" [disabled]="requestSent" (click)="onSendRequest()">リクエスト送信</button>
            </div>
            <p class="text-danger" *ngIf="circle.isWaitingApproval"><b>参加承認待ちです</b></p>
          </div>
          <button *ngIf="appUser && !circle.approvalRequired" class="btn btn-primary" [dir]="requestSent" (click)="onSendRequest()">グループに参加する</button>
        </div>
      </div>
      <div class="col-sm-4">
        <app-user-info-card [appUser]="circle.appUser" [dateCreated]="circle.dateCreated" [dateUpdate]="circle.dateUpdated" (messageSend)="onMessageSend()"></app-user-info-card>
        <div class="area">
          <h4>最近参加したメンバー</h4>
          <app-circle-member-shortlist [circleId]="circle.id" [latestMemberList]="latestMembers"></app-circle-member-shortlist>
        </div>
        <app-circle-sideinfo [circle]="circle" [latestTopics]="latestTopics" [latestEvents]="latestEvents"></app-circle-sideinfo>
      </div>
    </div>
    <div *ngIf="isMine">
      <a class="btn btn-primary" [routerLink]="['/circle/edit',  circle.id]">編集</a>
      <a class="btn btn-danger" (click)="onDelete(circle.id)">削除</a>
    </div>
    <div *ngIf="!isMine && circle.isMember">
      <a class="btn btn-danger" (click)="onLeaveCircle()">グループを抜ける</a>
    </div>
  </div>
</div>