<div class="row">
  <div class="col-md-6" *ngFor="let clanSeek of clanSeeks" [ngSwitch]="clanSeek.categoryName">
    <div class="card">
      <img class="clanImage pull-left" src="{{clanSeek.mainPhotoUrl}}">
      <span class="categoryName color-friend" *ngSwitchCase="'友達'">{{clanSeek.categoryName}}</span>
      <span class="categoryName color-circle" *ngSwitchCase="'サークル'">{{clanSeek.categoryName}}</span>
      <span class="categoryName" *ngSwitchDefault>{{clanSeek.categoryName}}</span>
      <h4>{{clanSeek.title}}</h4>
      <p>{{clanSeek.memberName}}  {{clanSeek.locationName}}</p>
      <span class="clearfix"></span>
    </div>
  </div>
</div>