<div class="container">
  <div class="clanHeader row">
    <div class="col-sm-6 col-md-4">
      <table class="table-responsive">
        <thead>
          <tr>
            <th></th><th>フィルター</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>カテゴリー</th>
            <td>
              <select [(ngModel)]="selectedCategoryId" name="category" (change)="loadList()">
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>エリア</th>
            <td>
              <select [(ngModel)]="selectedCityId" name="city" (change)="loadList()">
                <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 col-md-4">
      <a class="btn btn-primary" [routerLink]="['edit', appUser.id]" >投稿する</a>
    </div>
  </div>
  <app-clan-list [clanSeeks]="clanSeeks" [appUserId]="appUser.id"></app-clan-list>
</div>