<div class="filter">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <label>エリア</label><br>
        <div>
          <select [(ngModel)]="selectedCityId" class="form-control" name="city" (change)="filterChanged()">
            <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="category">
        <label>カテゴリ</label><br>
        <div>
          <select [(ngModel)]="selectedCategoryId" class="form-control" name="category" (change)="filterChanged()">
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="appUser">
    <br>
    <input type="checkbox" name="hideMine" id="hideMine" [disabled]="loading" [(ngModel)]="hideMine" [value]="hideMine" (change)="toggleHideMine()">
    <label for="hideMine" class="checkbox">自分の投稿を表示しない</label>
  </div> -->
  <!-- <p>オーダー設定的な事をこの辺に</p> -->
  <hr>
  <div *ngIf="appUser">
    <button class="btn btn-primary btn-sm" [disabled]="(clanState | async).reachLimit" [routerLink]="['edit']">新規投稿</button>
    <p *ngIf="(clanState | async).reachLimit" class="text-danger">仲間募集投稿は1人{{CLANSEEK_MAX}}つまで可能です。新しく投稿するには不要な投稿を削除して下さい。</p>
  </div>
</div>
<div class="container">
 
  <app-loading *ngIf="(clanState | async).loading"></app-loading>
  <app-clan-list *ngIf="!(clanState | async).loading" [clanSeeks]="(clanState | async).clanSeeks" [appUserId]="appUser?.id"></app-clan-list>
  <div *ngIf="(clanState | async).pagination && (clanState | async).pagination.totalPages > 1" class="text-center">
    <pagination [boundaryLinks]="true" [totalItems]="(clanState | async).pagination.totalItems" [ngModel]="(clanState | async).pagination.currentPage"
      [itemsPerPage]="(clanState | async).pagination.itemsPerPage" (pageChanged)="pageChanged($event)" class="pagination-sm"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>