<div class="container">
  <div class="clanHeader row">
    <div class="col-sm-6 col-md-4">
      <Label>カテゴリー</Label>
      <select [(ngModel)]="selectedCategoryId" name="category" (change)="loadList()">
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
      </select>
    </div>
    <div class="col-sm-6 col-md-4">
      <Label>町</Label>
      <select [(ngModel)]="selectedCityId" name="city" (change)="loadList()">
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
      </select>
    </div>
  </div>
  <app-clan-list [clanSeeks]="clanSeeks"></app-clan-list>
</div>