<agm-map [disableDefaultUI]="false" [longitude]="lng" [latitude]="lat" [zoom] = "12" (mapClick)="mapClicked($event)">
  <agm-marker *ngIf="!useCircle" [longitude]="lng" [latitude]="lat" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
  <agm-circle 
  *ngIf="useCircle"
  [longitude]="lng" 
  [latitude]="lat" 
  [radius]="radius"
  [fillColor]="'red'"
  [circleDraggable]="true" 
  [editable]="true" 
  (radiusChange)="radiusChange($event)"
  (centerChange)="centerChanged($event)"></agm-circle>
</agm-map>