<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div>
        <h2>みんなのブログ</h2>
        <app-blogfeed-list [blogFeedList]="blogFeedList | async"></app-blogfeed-list>
      </div>
      <div>
        <h2>〇〇募集！！！</h2>
      </div>
      <div>
        <h2>本日のトピック</h2>
      </div>
      <div>
        <h2>何か情報とか？</h2>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <h2>広告</h2>
      </div>
      <div>
        <h2>広告</h2>
      </div>
    </div>
  </div>
</div>