<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!-- <div>
        <h2>何か情報とか？</h2>
      </div> -->
      <h2>仲間募集中！</h2>
      <div class="row">
        <app-loading *ngIf="!latestClanSeekList"></app-loading>
        <app-latest-clan-list *ngIf="latestClanSeekList" [latestClanSeeklist]="latestClanSeekList"></app-latest-clan-list>
      </div>
      <p class="text-center">
        <button class="btn btn-sm btn-success" [routerLink]="['/clan']">仲間募集検索</button>
      </p>
      <h2>おススメスポット</h2>
      <h4>新着スポット</h4>
      <div class="newSpots">
        <app-loading *ngIf="!latestAttractionList"></app-loading>
        <app-latest-attraction-list [latestAttractionList]="latestAttractionList"></app-latest-attraction-list>
      </div>
      <h4>新着レビュー</h4>
      <div>
          <app-loading *ngIf="!latestAttractionReviews"></app-loading>
          <app-latest-attraction-reviews [latestAttractionReviews]="latestAttractionReviews"></app-latest-attraction-reviews>
      </div>
      <br>
      <p class="text-center">
        <button class="btn btn-sm btn-success" [routerLink]="['/attraction']">スポット検索</button>
      </p>
      <h2>みんなのブログ</h2>
      <div class="row">
        <app-loading *ngIf="!blogFeedList"></app-loading>
        <app-blogfeed-list [blogFeedList]="blogFeedList"></app-blogfeed-list>
      </div>
      <p class="text-center">
        <button class="btn btn-sm btn-success" [routerLink]="['/blog/feed']">ブログ記事検索</button>
      </p>
      <h2>一言トピック</h2>
      <div class="row">
        <h3>本日のお題：{{todaysTopic}}</h3>
        <app-loading *ngIf="!latestTopicComments"></app-loading>
        <app-latest-topiccomment-list [latestTopicComments]="latestTopicComments"></app-latest-topiccomment-list>
        <p class="text-center">
          <button class="btn btn-sm btn-success" [routerLink]="['/dailytopic']">自分も一言！</button>
        </p>
      </div>
      <!-- <a class="btn btn-primary" [routerLink]="['/dailytopic']">全て見る</a> -->
    </div>
    <!-- <div class="col-md-3">
      <div>
        <h3>広告</h3>
      </div>
    </div> -->
  </div>
</div>