<div class="container">
  <form #circleEditForm="ngForm" id="circleEditForm" (ngSubmit)="submit(circleEditForm)">
    <div class="form-group" *ngIf="id">
      <h4>メイン画像選択</h4>
      <app-mainphoto-selector *ngIf="editingCircle.photos?.length > 0" [photos]="editingCircle.photos" [mainPhotoId]="editingCircle.mainPhotoId"
        (photoSelected)="mainPhotoSelected($event, circleEditForm)">
      </app-mainphoto-selector>
      <a class="btn btn-primary" [routerLink]="['/photo/edit', 'Circle', editingCircle.id, 1240]">写真の追加・削除</a>
    </div>
    <div *ngIf="!id">
      <h4>画像アップロード</h4>
      <app-photo-selector (photoSelected)="setSelectedFiles($event)" [imageSize]="1024" [multipleSelect]="true"></app-photo-selector>
      <div class="row" *ngIf="selectedFiles">
        <div class="col-xs-2 col-md-3" *ngFor="let tempImageUrl of previewUrls">
          <img class="img-responsive" [src]="tempImageUrl" />
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':name.errors && name.touched}">
      <label for="name" class="control-label required">サークル名</label>
      <input class="form-control" name="name" type="text" [(ngModel)]="editingCircle.name" maxlength="100" required #name="ngModel">
      <span class="help-block" *ngIf="name?.errors?.required && name.touched">
        サークル名は必須項目です
      </span>
    </div>
    <div class="form-group">
        <h5>参加条件</h5>
        <input type="radio" id="approval-no" [value]="false" name="approval" [(ngModel)]="editingCircle.approvalRequired">
        <label for="approval-no" class="radio">誰でも</label>
        <input type="radio" id="approval-yes" [value]="true" name="approval" [(ngModel)]="editingCircle.approvalRequired">
        <label for="approval-yes" class="radio">管理人の承認が必要</label>
      </div>
    <div class="form-group" [ngClass]="{'has-error': description.errors && description.touched}">
      <label for="description" class="control-label required">概要</label>
      <textarea class="form-control" name="description" [(ngModel)]="editingCircle.description" #description="ngModel" maxlength="5000"
        rows="10" required></textarea>
      <span class="help-block" *ngIf="description?.errors?.required && description.touched">
        概要は必須項目です
      </span>
    </div>
    <div class="form-group">
      <label for="category" class="control-label">カテゴリ</label>
      <br>
      <select [(ngModel)]="editingCircle.categoryId" class="form-control" name="category" #city="ngModel">
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="city" class="control-label">エリア</label>
      <br>
      <select [(ngModel)]="editingCircle.cityId" class="form-control" name="city" #city="ngModel">
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
      </select>
    </div>

    <button class="btn btn-success" [disabled]="!circleEditForm.valid || circleEditForm.pristine" type="submit">{{ id
      ? "更新" : "作成" }}</button>
    <button class="btn btn-warning" type="button" (click)="onCancel()">キャンセル</button>
  </form>
</div>