<div class="row">
<div class="col-xs-6">
    <img src="{{mainPhotoUrl}}" alt="" class="respoinsive">  
</div>
<div class="col-xs-6">
  <p *ngIf="photos.length == 0">No Photos</p>
      <div class="col-xs-2" *ngFor="let photo of photos">
        <img src="{{photo.url}}" alt="" class="thumbnail">
        <div class="text-center">
          <button type="button" class="btn btn-xs" (click)="mainPhotoUrl=photo.url" [ngClass]="photo.url != mainPhotoUrl ? 'btn-success active' : 'btn-default'" [disabled]="photo.url==mainPhotoUrl">メイン</button>
        </div>
      </div>
      <button type="button" class="btn btn-primary">写真の追加・削除</button>
</div>
</div>