<div class="eventList">
  <div>
    <input type="checkbox" name="displayAttendingOnly" id="displayAttendingOnly" [(ngModel)]="displayAttendingOnly" [value]="displayAttendingOnly">
    <label for="displayAttendingOnly" class="checkbox">参加予定のイベントのみ表示</label>
  </div>
  <div *ngIf="finish && events.length == 0">
    まだイベントはありません
  </div>
  <div *ngFor="let event of events; let i=index;">
    <div *ngIf="!displayAttendingOnly || event.myStatus == circleEventParticipationStatus.Confirmed">
      <h4 *ngIf="i == 0 || dateChanged(events[i-1].date, event.fromDate)">{{event.fromDate | date:"y年 MM月 dd日(EEE)"}}</h4>
      <p class="label label-danger" *ngIf="event.myStatus == circleEventParticipationStatus.Confirmed">参加予定！</p>
      <p class="label label-primary" *ngIf="event.myStatus == circleEventParticipationStatus.Waiting">参加承認待ち</p>
      <div class="eventCard area" [ngClass]="{attending: event.myStatus == circleEventParticipationStatus.Confirmed, waiting: event.myStatus == circleEventParticipationStatus.Waiting}">
        <p *ngIf="!circleId"><a [routerLink]="['/circle/detail', event.circleId]" routerLinkActive="router-link-active"><b
              class="text-warning">サークル：{{event.circle.name}}</b></a></p>
        <h5><a [routerLink]="['/circle/detail', event.circleId, 'event', 'detail', event.id]">{{event.title}}</a></h5>
        <p><b>{{event.fromDate | date:"shortTime"}}～</b></p>
        <img class="pull-left" *ngIf="event.mainPhoto" src="{{event.mainPhoto | thumburl}}" alt="">
        <div class="pull-left">
          <p>{{event.description | shorten}}</p>
        </div>
        <span class="clearfix"></span>
      </div>
    </div>
  </div>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" [infiniteScrollThrottle]="selector"
  (scrolled)="onScroll()">
</div>