 .logo {
    height: 50px;
    margin: 10px;
}

li img {
    max-height: 40px;
    margin-top: 10px;
}

.nav .badge {
    background-color: Red;
    color: white;
}

.dropdown-menu {
    z-index: 2000;
}