<div *ngIf="multipleSelect">
      <p><strong>＊アップロードできる画像は{{FILE_UPLOAD_LIMIT}}つまでです</strong></p>
      <input #inputFiles type="file" class="form-control" accept="image/*" multiple (change)="setUploadingFiles(inputFiles.files)"
      />
</div>
<div *ngIf="!multipleSelect">
      <label class="btn btn-primary btn-sm" for="inputFiles">
            画像をアップロードする
      <input  #inputFiles id="inputFiles" type="file" class="form-control" accept="image/*" (change)="setUploadingFiles(inputFiles.files)"/>
      </label>
</div>
