<div class="container">
  <app-loading *ngIf="!attractionReview"></app-loading>
    <form *ngIf="attractionReview" #attractionReviewEditForm="ngForm" id="attractionReviewEditForm" (ngSubmit)="submit(attractionReviewEditForm)">
      <div class="form-group" *ngIf="id">
          <h4>メイン画像選択</h4>
         <app-mainphoto-selector 
            *ngIf="attractionReview.photos?.length > 0" 
            [photos]="attractionReview.photos" 
            [mainPhotoId]="attractionReview.mainPhotoId" 
            (photoSelected)="mainPhotoSelected($event, attractionReviewEditForm)">
          </app-mainphoto-selector>
          <a class="btn btn-primary" [routerLink]="['/photo/edit', 'AttractionReview', attractionReview.id]">写真の追加・削除</a>
      </div>
      <div *ngIf="!id">
        <h4>画像アップロード</h4>
        <app-photo-selector (photoSelected)="setSelectedFiles($event)" [multipleSelect]="true"></app-photo-selector>
        <div class="row" *ngIf="selectedFiles">
          <div class="col-xs-2 col-md-3" *ngFor="let tempImageUrl of previewUrls">
            <img class="img-responsive" [src]="tempImageUrl" />
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': review.errors && review.touched}">
        <label for="review" class="control-label required">レビュー</label>
        <textarea class="form-control" name="description" [(ngModel)]="attractionReview.review" #review="ngModel" maxlength="1500" rows="10"
          required></textarea>
        <span class="help-block" *ngIf="review?.errors?.required && review.touched">
          レビューは必須項目です
        </span>
      </div>
      <div class="form-group review">
          <label for="score" class="control-label">評価</label>
          <span class="star">
            <app-star-rate [starCheckedList]="starCheckedList" (rateSelected)="starClicked($event, attractionReviewEditForm)"></app-star-rate>
          </span>
            <!-- <span class="fa fa-star" *ngFor="let starChecked of starCheckedList index as i" (click)="starCheck(i)" [ngClass]="{'checked': starChecked}"></span> -->
        </div>
      <button class="btn btn-success" [disabled]="!attractionReviewEditForm.valid || attractionReviewEditForm.pristine || waitingResponse" type="submit">{{ id ? "更新" : "作成" }}</button>
      <button class="btn btn-warning" [disabled]="waitingResponse" type="button" (click)="onCancel()">キャンセル</button>
    </form>
  </div>
  
  