/* Ligature Symbols */

@font-face {
    font-family: 'LigatureSymbols';
    src: url('./assets/fonts/LigatureSymbols-2.11.eot');
    src: url('./assets/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('./assets/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('./assets/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('./assets/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

form label.required::after {
    content: "必須";
    margin: 0 0.5em;
    padding: 0 0.5em;
    -webkit-border-radius: 6px;   /* Safari,Google Chrome */
    -moz-border-radius: 6px;      /* Firefox12まで */
    border-radius: 6px;           /* Firefox13以降 */
    background-color: #ff3957;
    color: #fff;
    font-weight: normal;
    font-size: 90%;
}

.rounded-bg-light {
    background-color: aliceblue;
    border-radius: 7px;
}

.bg-light-blue {
    background-color: aliceblue;
}

.bg-light-yellow {
    background-color: rgb(247, 255, 240);
}

.bg-light-green {
    background-color: rgb(228, 250, 237);
}

/* h2 {
    padding: .5em;
    border-top: double #7ED1E6;
    border-bottom: double #7ED1E6;
} */

h2 {
    /* color: #444; */
    font-size: 5vmin; 
    position: relative;
    padding: 0 0 2px 32px;
    /* border-bottom: 1px solid rgb(3, 53, 1); */
  }
  h2:before, h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(4, 173, 252);
    margin: auto;
  }
  h2:before {
    top: -6px;
    left: 0px;
  }
  h2:after {
    top: 6px;
    left: 6px;
  }
  

h4 {
    font-size: 18px;
    color:white;
    padding: .5em .75em;
    background-color: #058be4;
    border-radius: 4px;
}

/*-----------------------------------
 Daily Topic
*------------------------------------*/
.commentContainer{
    width:100%;
    margin:10px;
    position:relative;
    display: table;
}

.commentImage{
     display: table-cell;
     vertical-align: middle;
     width: 50px;
}

.commentImage img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.comment{
    display: table-cell;
    vertical-align: middle;
    margin:auto;
    width: auto;
    padding:0;
}

.commentBaloon {
    margin-left:30px;
     position:relative;
    color: #555;
    padding:4px;
   font-size: 16px;
   background: #e0edff;
   border-radius: 10px;
}

.commentBaloon:before{
   content: "";
   position: absolute;
   top: 50%;
   left: -25px;
   margin-top: -12px;
   border: 10px solid transparent;
   border-right: 15px solid #e0edff;
}

.commentTools{
    display: table-cell;
    width:70px;
    padding:5px;
    vertical-align: middle;
}