<div class="panel panel-default" *ngIf="clanSeek">
  <div class="panel-body">
    <!-- <img class="profile-image img-thumbnail pull-left" src="{{appUser.mainPhotoUrl}}" alt="{{appUser.displayName}}"> -->
    <a [routerLink]="['/users/detail/' + clanSeek.appUserId]" style="cursor: pointer">投稿者：{{clanSeek.displayName}}</a>
    <span class="clearfix"></span>
  </div>
  <div class="panel-footer">
    <div *ngIf="appUser && clanSeek.appUserId != appUser.id">
      <a class="btn btn-success">ショートメッセージを送る</a>
    </div>
    <div *ngIf="clanSeek.appUserId == appUser?.id">
      <a class="btn btn-primary" [routerLink]="['/clan/edit',  appUser.id, clanSeek.id]">編集</a>
      <a class="btn btn-danger" (click)="onDelete()">削除</a>
    </div>
  </div>
</div>