.message-list-item {
    overflow: visible;
    word-break:break-all
}

h5 {
    color:white;
}

.message-list-item img {
    width: 50px;
}

.sentItem {
    border: solid 2px red;
}

.receivedItem {
    border: solid 2px blue;
}