.col-like{
    width: 100px;
}

.col-button{
    width: 50px;
}

.liked.badge {
    font-weight: bold;
    color: rgb(9, 157, 226);
}

table {
    overflow: visible;
}

button:disabled,
button[disabled]{
  opacity: 0.9;
  color: #01a9f7;
}