<div class="container">
    <h3>参加</h3>
    <div class="participantsList">
        <tabset>
            <tab id="confirmedList">
                <ng-template tabHeading>
                    <p><b>参加</b> <span class="label label-info">{{numberOfParticipants}}</span></p>
                </ng-template>
                <app-circle-event-participations-list [status]="circleEventParticipationStatus.Confirmed" [appUser]="appUser"
                    [circleEvent]="circleEvent"></app-circle-event-participations-list>
            </tab>
            <tab id="waitList">
                <ng-template tabHeading>
                    <p><b>参加承認待ち</b> <span class="label label-info" [ngClass]="{'label-danger': isMine && (numberOfWaiting > 0)}">{{numberOfWaiting}}</span></p>
                </ng-template>
                <app-circle-event-participations-list [status]="circleEventParticipationStatus.Waiting" [appUser]="appUser"
                    [circleEvent]="circleEvent"></app-circle-event-participations-list>
            </tab>
            <tab id="canceledList">
                <ng-template tabHeading>
                    <p><b>不参加</b> <span class="label label-default">{{numberOfCanceled}}</span></p>
                </ng-template>
                <app-circle-event-participations-list [status]="circleEventParticipationStatus.Canceled" [appUser]="appUser"
                    [circleEvent]="circleEvent"></app-circle-event-participations-list>
            </tab>
        </tabset>
    </div>
</div>