<div class="container">
  <h3>参加メンバー一覧</h3>
  <app-loading *ngIf="!members"></app-loading>
  <div *ngIf="members" class="area">
    <div class="row">
      <div class="memberCard col-xs-6 col-sm-4 col-md-3" *ngFor="let member of members">
        <div class="imageContainer" [routerLink]="['/users/detail', member.appUser.id]">
          <img class="img-thumbnail" src="{{member.appUser.mainPhoto | thumburl}}" alt="">
        </div>
        <p><strong>{{member.appUser.displayName}}</strong></p>
        <p>参加日:{{member.dateJoined | date: 'mediumDate'}}</p>
        <p>最終ログイン:{{member.dateLastActive | timeago_jp}}</p>
        <button *ngIf="circle.isManageable && member.role != roleEnum.OWNER" class="btn btn-xs btn-danger" (click)="onRemoveMember(member)">除名</button>
      </div>
    </div>

    <div *ngIf="pagination && pagination.totalPages > 1" class="text-center">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [ngModel]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage"
        (pageChanged)="pageChanged($event)" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;">
      </pagination>
    </div>
  </div>

</div>