<configuration>
<system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
           <remove name="WebDAVModule" />
    </modules>
    <handlers>
            <remove name="WebDAV" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>