.circleImage {
    width: 100%;
    max-height: 300px;
    /* filter: brightness(40%); */
    object-fit: contain;
}

.garelly{
    padding:0;
    margin:auto;
    height:200px;
    max-width:1024px;
    z-index: 1;
}

ngx-gallery {
    z-index: -1;
}

@media screen and (min-width:480px) { 
    .garelly {
        height: 300px;
    }
}
@media screen and (min-width:768px)  {
    .garelly {
        height: 400px;
    }
}

.green .active a,
.green .active a:hover {
    background-color: green;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    background-color: green;
}