<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="プロフィール">
            <h4>プロフィール</h4>
            <div *ngIf="photos">
              <app-member-profile-edit *ngIf="member" [member]="member" [photos]="photos" [blogs]="(blogState | async).blogs" [cities]="cities" [hometowns]="hometowns"></app-member-profile-edit>
              <app-business-profile-edit *ngIf="bisUser" [bisUser]="bisUser" [photos]="photos" [blogs]="(blogState | async).blogs" [cities]="cities" [hometowns]="hometowns"></app-business-profile-edit>
            </div>
          </tab>
          <!-- <tab heading="">
            <app-photo-editor 
              [userType]="appUser.userType" 
              [userId]="appUser.relatedUserClassId"
              [photos]="photos"
              [mainPhotoUrl]="member? member.mainPhotoUrl : bisUser.mainPhotoUrl"
              ></app-photo-editor>
          </tab> -->
          <tab heading="アカウント情報">
            <app-user-edit [appUser]="appUser"></app-user-edit>
          </tab>
          <!-- <tab heading="マイブログ">
            <app-myblog-edit [appUser]="appUser"></app-myblog-edit>
          </tab> -->
        </tabset>
      </div>
    </div>
  </div>
</div>
