<div class="container">
  <app-loading *ngIf="!blogs"></app-loading>
  <div class="row" *ngFor="let blog of blogs index as i">
    <hr *ngIf="i > 0">
    <div class="col-sm-4">
      <h4>ブログ情報</h4>
      <div>
        <img class="blogImage pull-left" src="{{blog.photo ? blog.photo.url : 'assets/NoImage.png'}}" />
        <p>
          <strong>
            <a href="{{blog.url}}">{{blog.title}}</a>
          </strong>
        </p>
        <p>{{blog.description}}</p>
        <span class="clearfix"></span>
      </div>
      <div>
        <button class="btn btn-xs btn-primary" [routerLink]="['edit', blog.id]">編集</button>
        <button class="btn btn-xs btn-danger" (click)="onBlogDelete(blog.id)" >削除</button>
      </div>
    </div>
    <div class="col-sm-8">
      <h4>ブログフィード</h4>
      <p *ngIf="!blog.blogFeeds">このブログのフィード記事はまだありません</p>
      <div class="row" *ngFor="let blogFeed of blog.blogFeeds">
        <div class="col-xs-2">
          <img class="blogImage" src="{{blogFeed.imageUrl}}">
        </div>
        <div class="col-xs-8">
          <p>
            <a href="{{blogFeed.url}}"><strong>{{blogFeed.title}}</strong></a>
          </p>
          <p>投稿日：{{blogFeed.publishingDate | date: 'mediumDate'}}</p>
          <span class="clearfix"></span>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-xs btn-danger" (click)="onFeedDelete(blogFeed)">削除</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button class="btn btn-primary" [disabled]="!canAddBlog" (click)="onAddBlog()">ブログの追加</button>
</div>